.header {
    background: #fff;
}

.header__inner {
    margin: 0 auto;
    color: #eec92f;
    font-family: Georgia;
    font-style: italic;
}

* {
    box-sizing: border-box;
    border: 1px solid red;
}

.main {
    height: auto;
    background-color: #f8f8f8;
    padding: 30px;
}

.content__main {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-rows: 235px 235px;
    grid-template-columns: 1fr 1fr;
}

.image {
    grid-column: 1/2;
    grid-row: 1/2;
}

.image__title {
    color: #0085ff;
}

.image__file {
    width: 100%;
    height: 70%;
}

.image__button {
    background-color: #dedfdc;
    border-color: black;
}

.image__name {
    color: #bebebe;
    margin: 0 0 0 10px;
}

.detail {
    grid-column: 2/3;
    grid-row: 1/2;
}

.detail__title {
    margin: 0 0 5px 0;
}

.detail__input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-color: #f2f2f2;
    border-radius: 2px;
    margin: 0 0 10px 0;
}

.detail__radio {
    margin: 0 0 0 40px;
}

.explain {
    grid-column: 1/3;
    grid-row: 2/3;
}

.explain__title {
    margin: 0 0 10px 0;
}

.explain__text {
    border-color: #f2f2f2;
    border-radius: 2px;
    margin: 0 0 20px 0;
    width: 100%;
}

.explain__button--area {
    display: flex;
}

.button__return {
    padding: 8px 50px;
    margin: 0 20px 0 180px;
    background-color: #e1dfde;
    border-radius: 2px;
}

.button__save {
    padding: 8px 40px;
    margin: 0 100px 0 0;
    background-color: #f5c800;
    border-radius: 2px;
}