.content__main {
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.upper {
    width: 100%;
    height: 50%;
    display: flex;
}

.image {
    width: 50%;
    height: 100%;
    margin: 0 auto 0 0;
}

.image__title {
    margin: 0 0 10px 0;
    color: #0085ff;
}

.image__file {
    margin: 0 0 10px 0;
    width: 300px;
    height: 250px;
}

.image__button {
    background-color: #dedfdc;
    border-color: black;
}

.image__name {
    color: #bebebe;
    margin: 0 0 0 10px;
}

.detail {
    width: 50%;
    height: 100%;
    margin: 0 0 0 auto;
}

.detail__title {
    margin: 0 0 5px 0;
}

.detail__input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-color: #f2f2f2;
    border-radius: 2px;
    margin: 0 0 10px 0;
}

.detail__radio {
    margin: 0 0 0 40px;
}

.explain {
    width: 100%;
    height: 50%;
    margin: auto 0 0 0;
}

.explain__title {
    margin: 0 0 10px 0;
}

.explain__text {
    border-color: #f2f2f2;
    border-radius: 2px;
    margin: 0 0 20px 0;
    width: 100%;
}

.explain__button--area {
    display: flex;
}

.button__return {
    padding: 8px 50px;
    margin: 0 20px 0 180px;
    background-color: #e1dfde;
    border-radius: 2px;
}

.button__save {
    padding: 8px 40px;
    margin: 0 100px 0 0;
    background-color: #f5c800;
    border-radius: 2px;
}